<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/669c99ca08.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav>
        <ul>
            <li><button class="naroffbtn"><a href="/Index.html">Home</a></button></li>
            <li><button class="naroffbtn"><a href="./education.html">Education</a></button></li>
            <li><button class="naroffbtn"><a href="./project.html">Project</a></button></li>
            <li><button class="navbtn"><a href="./certification.html">Certification</a></button></li>
            <li><button class="naroffbtn"><a href="./contact.html">Contact</a></button></li>
        </ul>
    </nav>

    <section class="certifications">
        <h1>Certifications</h1>
        <hr>

        <div class="certification-container">
            <div class="certification-card">
                <div class="certification-title">
                    <h3>The Complete Web Development Bootcamp
                    </h3>
                    <p class="certification-year">2024</p>
                </div>
                <p class="certification-details">Awarded by <strong>Udemy</strong>. This certification demonstrates proficiency in web development, covering front-end and back-end technologies.</p>
            </div>

            <div class="certification-card">
                <div class="certification-title">
                    <h3>Assessment in the job role Software Programmer</h3>
                    <p class="certification-year">2023</p>
                </div>
                <p class="certification-details">Awarded by <strong>National Skills Qualifications Framework Level -
                    4 (PMKVY4.0)</strong>. This certification validates expertise in Software Programmer concepts such as front-end, back-end, and API.</p>
            </div>

            <div class="certification-card">
                <div class="certification-title">
                    <h3>Object Oriented Programming Specialization
                    </h3>
                    <p class="certification-year">2023</p>
                </div>
                <p class="certification-details">Awarded by <strong>University of London</strong>. This certification demonstrates proficiency in Object Oriented Programming technologies.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">

            <div class="footer-links">
                <h4>Quick Links..</h4>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./About.html">Education</a></li>
                    <li><a href="./Exercise Library.html">Project</a></li>
                    <li><a href="./Nutrition & Tips.html">Certification</a></li>
                    <li><a href="./Contact.html">Contact</a></li>
                </ul>
            </div>


            <div class="footer-contact">
                <h4>Contact Me..</h4>
                <ul>
                    <li><i class="fas fa-envelope"></i> shreyaspangavhane2022@gmail.com</li>
                    <li><i class="fas fa-phone"></i> +91 92847 76383</li>
                    <li><i class="fas fa-map-marker-alt"></i> Maharashtra, Kopargaon 423602</li>
                </ul>
            </div>

            <div class="footer-social">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>

    </footer>


</body>

</html>