<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/669c99ca08.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <ul>
            <li><button class="naroffbtn"><a href="/Index.html">Home</a></button></li>
            <li><button class="naroffbtn"><a href="./education.html">Education</a></button></li>
            <li><button class="navbtn"><a href="/Projects.html">Projects</a></button></li>
            <li><button class="naroffbtn"><a href="./certification.html">Certification</a></button></li>
            <li><button class="naroffbtn"><a href="./contact.html">Contact</a></button></li>
        </ul>
    </nav>

    <header>
        <h1>My Projects</h1>
        <p>Explore my portfolio of work showcasing diverse and impactful projects.</p>
    </header>

    <main>
        <section class="project-list">
            <article class="project">
                <h2>AI-Powered Complaint Resolution System</h2>
                <p>An AI-driven platform to automate complaint categorization and resolution for enhanced efficiency.</p>
                <a href="/ai-complaint-system.html" class="cta-button">Learn More</a>
            </article>

            <article class="project">
                <h2>Workout Routine Builder</h2>
                <p>A dynamic application that helps users plan personalized workout routines and track progress.</p>
                <a href="https://github.com/shreyaspangavhane/Workout-Routine-Builder-Project" target="_blank" class="cta-button">Learn More</a>
            </article>

            <article class="project">
                <h2>Blogging Platform: Write, Share, Manage Blogs </h2>
                <p>using MERN Stack allowing users to write, share, edit, update, and delete blogs. Added image upload for better content sharing</p>
                <a href="#" class="cta-button">Learn More</a>
            </article>

            <article class="project">
                <h2>Virtual Assistant</h2>
                <p>A voice-activated assistant capable of performing tasks like web searches, playing music, and more.</p>
                <a href="https://github.com/shreyaspangavhane/Voice-Activated-Virtual-Assistant" target="_blank" class="cta-button">Learn More</a>
            </article>

            <article class="project">
                <h2>QR Image Generator</h2>
                <p>It is a Simple application that lets users generate QR codes for any URL. Users can enter a URL, click the "Generate" button, and the application will create a QR code.</p>
                <a href="https://github.com/shreyaspangavhane/Node.js-Project-QR-Image-Generator-" target="_blank" class="cta-button">Learn More</a>
            </article>
        </section>


        <section class="research">
            <h2>Research Papers</h2>
            <div class="paper-grid">
                <div class="papercard">
                    <div class="papericon">
                        <i class="fa-solid fa-cow"></i>
                    </div>
                    <h3>Cattle Health Monitoring System Using IoT </h3>
                    <p>The paper discusses an IoT-based system for monitoring cattle health, enabling real-time tracking, data analysis, and early disease detection.</p>
                    <a href="https://ieeexplore.ieee.org/document/10449639" target="_blank" class="cta-button secondary">Read Paper</a>
                </div>

                <div class="papercard">
                    <div class="papericon">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <h3>AI Augmented Software Development Boosting Efficiency and Quality</h3>
                    <p>Exploring how AI enhances software development through automated tools and intelligent systems.</p>
                    <a href="https://ieeexplore.ieee.org/abstract/document/10836523" target="_blank" class="cta-button secondary">Read Paper</a>
                </div>

                <div class="papercard">
                    <div class="papericon">
                        <i class="fa-solid fa-cloud"></i> </div>
                    <h3>Virtualization Techniques for Secure Cloud Architectures An Analysis of Risks and Countermeasures</h3>
                    <p>The paper analyzes virtualization techniques for secure cloud architectures, focusing on risks, vulnerabilities, and countermeasures to enhance security.</p>
                    <a href="https://ieeexplore.ieee.org/document/10836304" target="_blank" class="cta-button secondary">Read Paper</a>
                </div>

                <div class="papercard">
                    <div class="papericon">
                        <i class="fa-solid fa-cloud"></i> </div>
                    <h3>A Survey on Security Issues and Challenges in Cloud Computing</h3>
                    <p>This paper surveys security issues and challenges in cloud computing, exploring threats, vulnerabilities, and solutions for secure cloud environments.</p>
                    <a href="https://ieeexplore.ieee.org/abstract/document/10836628" target="_blank" class="cta-button secondary">Read Paper</a>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/Index.html">Home</a></li>
                    <li><a href="/Education.html">Education</a></li>
                    <li><a href="/Projects.html">Projects</a></li>
                    <li><a href="/Certification.html">Certification</a></li>
                    <li><a href="/Contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h4>Contact Me</h4>
                <ul>
                    <li><i class="fas fa-envelope"></i> shreyaspangavhane2022@gmail.com</li>
                    <li><i class="fas fa-phone"></i> +91 92847 76383</li>
                    <li><i class="fas fa-map-marker-alt"></i> Maharashtra, Kopargaon 423602</li>
                </ul>
            </div>

            <div class="footer-social">
                <h4>Follow Me</h4>
                <ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:shreyaspangavhane2022@gmail.com?subject=Join Through Portfolio"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>